Pandas 是基于 NumPy 开发的 Python 数据分析库，专门解决「表格型数据」「异构数据」的处理需求，
比 NumPy 更适合处理带「行列标签」的业务数据（Excel/CSV/ 数据库表），是数据分析、数据挖掘、机器学习的必备工具。

可以简单理解为**python版本的Excel**

In [1]:
import pandas as pd # pd 是 pandas 的约定俗成别名
import numpy as np  # pandas依赖numpy，通常一起导入

**简单来说就是一维数据用 Series，二维表格数据用 DataFrame**

Series（一维序列）
    Series 是 带「索引 (Index)」的一维数组，由两部分组成：

    
    values：值，本质是 numpy 数组，可以是数值、字符串、布尔值等任意类型
    index：索引，默认是 0,1,2,3... 的整数索引，也可以自定义索引

In [2]:
# 方式1：默认索引
s1 = pd.Series([10, 20, 30, 40, 50])
print(s1) #最后会输出这个series的元数据

#常见对象有 int64,float64,object,bool

0    10
1    20
2    30
3    40
4    50
dtype: int64

In [3]:

# 方式2：自定义索引
s2 = pd.Series([10,20,30], index=["语文", "数学", "英语"])
# 可以传入列表list，元组tuple，字典dictionary,Numpy数组array,序列Series
print(s2)

语文    10
数学    20
英语    30
dtype: int64

In [4]:
print(s1.loc)
print(s1.loc[0]) #访问元素

<pandas.core.indexing._LocIndexer object at 0x77f2132d9a40>
10

In [5]:
s2.loc["语文"] = 20 #通过标签访问
print(s2.loc["语文"])

s1.iloc[0] = 25 #通过索引访问
print(s1.iloc[0])

20
25

In [6]:
print(s1[s1 >=20])

0    25
1    20
2    30
3    40
4    50
dtype: int64

In [7]:
# Series通过字典创建时，label默认为字典的key
calories = {"Day 1": 1750, "Day 2": 2100, "Day 3": 1700}
series = pd.Series(calories)
print(series)

print(series.loc["Day 1"])
series.loc["Day 1"] += 500 
print(series.loc["Day 1"])

Day 1    1750
Day 2    2100
Day 3    1700
dtype: int64
1750
2250

DataFrame（二维表格）
    DataFrame 是 Series 的集合，每个 Series 都有相同的索引，并且 DataFrame 可以有列名。

    DataFrame 由两部分组成：

    
    data：数据，本质是 numpy 数组
    columns：列名，默认是 0,1,2,3... 的整数索引，也可以自定义索引

In [8]:
import pandas as pd

data = {
    "Name": ["Spongebob", "Patrick", "Squidward"],
    "Age": [30, 35, 50]
}

df = pd.DataFrame(data, index=["Employee1", "Employee2", "Employee3"])
print(df)

                Name  Age
Employee1  Spongebob   30
Employee2    Patrick   35
Employee3  Squidward   50

In [9]:
print(df.loc["Employee1"])

Name    Spongebob
Age            30
Name: Employee1, dtype: object

In [10]:
# 添加新列
df["Job"] = ["Data Scientist", "Data Analyst", "Data Engineer"]

print(df)

                Name  Age             Job
Employee1  Spongebob   30  Data Scientist
Employee2    Patrick   35    Data Analyst
Employee3  Squidward   50   Data Engineer

In [11]:
#添加新行
new_row =pd.DataFrame([[1,2,3]],columns=['a','b','c'],index=["Employee4"]) #演示没有对齐key时的结果
df = pd.concat([df,new_row])
print(df)

                Name   Age             Job    a    b    c
Employee1  Spongebob  30.0  Data Scientist  NaN  NaN  NaN
Employee2    Patrick  35.0    Data Analyst  NaN  NaN  NaN
Employee3  Squidward  50.0   Data Engineer  NaN  NaN  NaN
Employee4        NaN   NaN             NaN  1.0  2.0  3.0

In [12]:
# 筛选成绩>=80的行
df[df["Age"] >= 20]

                Name   Age             Job   a   b   c
Employee1  Spongebob  30.0  Data Scientist NaN NaN NaN
Employee2    Patrick  35.0    Data Analyst NaN NaN NaN
Employee3  Squidward  50.0   Data Engineer NaN NaN NaN

In [13]:
df = pd.read_csv("data.csv",index_col="NOC") #可以指定索引列
#df = pd.read_json("data.json")
print(df) #默认只会打印前五行和后五行

                      Rank  Gold  Silver  Bronze  Total  Year
NOC
United States            1    11       7       2     20  1896
Greece                   2    10      18      19     47  1896
Germany                  3     6       5       2     13  1896
France                   4     5       4       2     11  1896
Great Britain            5     2       3       2      7  1896
...                    ...   ...     ...     ...    ...   ...
Qatar                   84     0       0       1      1  2024
Refugee Olympic Team    84     0       0       1      1  2024
Singapore               84     0       0       1      1  2024
Slovakia                84     0       0       1      1  2024
Zambia                  84     0       0       1      1  2024

[1435 rows x 6 columns]

In [14]:
df = pd.read_csv("data.csv")
#df = pd.read_json("data.json")
print(df) #默认只会打印前五行和后五行

      Rank                   NOC  Gold  Silver  Bronze  Total  Year
0        1         United States    11       7       2     20  1896
1        2                Greece    10      18      19     47  1896
2        3               Germany     6       5       2     13  1896
3        4                France     5       4       2     11  1896
4        5         Great Britain     2       3       2      7  1896
...    ...                   ...   ...     ...     ...    ...   ...
1430    84                 Qatar     0       0       1      1  2024
1431    84  Refugee Olympic Team     0       0       1      1  2024
1432    84             Singapore     0       0       1      1  2024
1433    84              Slovakia     0       0       1      1  2024
1434    84                Zambia     0       0       1      1  2024

[1435 rows x 7 columns]

In [15]:
print(df.to_string()) #打印所有行

      Rank                               NOC  Gold  Silver  Bronze  Total  Year
0        1                     United States    11       7       2     20  1896
1        2                            Greece    10      18      19     47  1896
2        3                           Germany     6       5       2     13  1896
3        4                            France     5       4       2     11  1896
4        5                     Great Britain     2       3       2      7  1896
5        6                           Hungary     2       1       3      6  1896
6        7                           Austria     2       1       2      5  1896
7        8                         Australia     2       0       0      2  1896
8        9                           Denmark     1       2       3      6  1896
9       10                       Switzerland     1       2       0      3  1896
10      11                        Mixed team     1       0       1      2  1896
11       1                            France    27      39      37    103  1900
12       2                     United States    19      14      15     48  1900
13       3                     Great Britain    15       7       9     31  1900
14       4                        Mixed team     8       5       6     19  1900
15       5                           Belgium     6       7       4     17  1900
16       6                       Switzerland     6       2       1      9  1900
17       7                           Germany     4       3       2      9  1900
18       8                             Italy     3       2       0      5  1900
19       9                         Australia     2       0       3      5  1900
20      10                           Denmark     1       3       2      6  1900
21      11                           Hungary     1       2       2      5  1900
22      12                              Cuba     1       1       0      2  1900
23      13                            Canada     1       0       1      2  1900
24      14                             Spain     1       0       0      1  1900
25      14                        Luxembourg     1       0       0      1  1900
26      16                           Austria     0       3       3      6  1900
27      17                            Norway     0       2       3      5  1900
28      17                       Netherlands     0       2       3      5  1900
29      19                             India     0       2       0      2  1900
30      20                           Bohemia     0       1       1      2  1900
31      21                            Sweden     0       0       1      1  1900
32       1                     United States    76      78      77    231  1904
33       2                           Germany     4       5       6     15  1904
34       3                            Canada     4       1       1      6  1904
35       4                              Cuba     3       0       0      3  1904
36       5                           Hungary     2       1       1      4  1904
37       5                        Mixed team     2       1       1      4  1904
38       7                            Norway     2       0       0      2  1904
39       8                           Austria     1       1       1      3  1904
40       9                     Great Britain     1       1       0      2  1904
41      10                       Switzerland     1       0       2      3  1904
42      11                            Greece     1       0       1      2  1904
43      12                         Australia     0       3       1      4  1904
44      13                            France     0       1       0      1  1904
45       1                     Great Britain    56      51      39    146  1908
46       2                     United States    23      12      12     47  1908
47       3                            Sweden     8       6      11     25  1908
48       4                            France     5       5       9     19  1908
49       5                           Germany     3       5       5     13  1908
50       6                           Hungary     3       4       2      9  1908
51       7                            Canada     3       3      10     16  1908
52       8                            Norway     2       3       3      8  1908
53       9                             Italy     2       2       0      4  1908
54      10                           Belgium     1       5       2      8  1908
55      11                       Australasia     1       2       2      5  1908
56      12                    Russian Empire     1       2       0      3  1908
57      13                           Finland     1       1       3      5  1908
58      14                      South Africa     1       1       0      2  1908
59      15                            Greece     0       3       1      4  1908
60      16                           Denmark     0       2       3      5  1908
61      17                           Bohemia     0       0       2      2  1908
62      17                       Netherlands     0       0       2      2  1908
63      19                           Austria     0       0       1      1  1908
64       1                     United States    26      19      19     64  1912
65       2                            Sweden    23      25      17     65  1912
66       3                     Great Britain    10      15      16     41  1912
67       4                           Finland     9       8       9     26  1912
68       5                            France     7       4       3     14  1912
69       6                           Germany     5      13       7     25  1912
70       7                      South Africa     4       2       0      6  1912
71       8                            Norway     3       2       5     10  1912
72       9                            Canada     3       2       3      8  1912
73       9                           Hungary     3       2       3      8  1912
74      11                             Italy     3       1       2      6  1912
75      12                       Australasia     2       2       3      7  1912
76      13                           Belgium     2       1       3      6  1912
77      14                           Denmark     1       6       5     12  1912
78      15                            Greece     1       0       1      2  1912
79      16                    Russian Empire     0       2       3      5  1912
80      17                           Austria     0       2       2      4  1912
81      18                       Netherlands     0       0       3      3  1912
82       1                     United States    41      27      27     95  1920
83       2                            Sweden    19      20      25     64  1920
84       3                           Finland    15      10       9     34  1920
85       4                     Great Britain    14      15      13     42  1920
86       5                           Belgium    14      11      11     36  1920
87       6                            Norway    13       9       9     31  1920
88       7                             Italy    13       5       5     23  1920
89       8                            France     9      19      13     41  1920
90       9                       Netherlands     4       2       5     11  1920
91      10                           Denmark     3       9       1     13  1920
92      11                      South Africa     3       4       3     10  1920
93      12                            Canada     3       3       3      9  1920
94      13                       Switzerland     2       2       7     11  1920
95      14                           Estonia     1       2       0      3  1920
96      15                            Brazil     1       1       1      3  1920
97      16                         Australia     0       2       1      3  1920
98      17                             Japan     0       2       0      2  1920
99      17                             Spain     0       2       0      2  1920
100     19                            Greece     0       1       0      1  1920
101     19                        Luxembourg     0       1       0      1  1920
102     21                    Czechoslovakia     0       0       2      2  1920
103     22                       New Zealand     0       0       1      1  1920
104      1                     United States    45      27      27     99  1924
105      2                           Finland    14      13      10     37  1924
106      3                            France    13      15      10     38  1924
107      4                     Great Britain     9      13      12     34  1924
108      5                             Italy     8       3       5     16  1924
109      6                       Switzerland     7       8      10     25  1924
110      7                            Norway     5       2       3     10  1924
111      8                            Sweden     4      13      12     29  1924
112      9                       Netherlands     4       1       5     10  1924
113     10                           Belgium     3       7       3     13  1924
114     11                         Australia     3       1       2      6  1924
115     12                           Denmark     2       5       2      9  1924
116     13                           Hungary     2       3       4      9  1924
117     14                        Yugoslavia     2       0       0      2  1924
118     15                    Czechoslovakia     1       4       5     10  1924
119     16                         Argentina     1       3       2      6  1924
120     17                           Estonia     1       1       4      6  1924
121     18                      South Africa     1       1       1      3  1924
122     19                           Uruguay     1       0       0      1  1924
123     20                           Austria     0       3       1      4  1924
124     20                            Canada     0       3       1      4  1924
125     22                            Poland     0       1       1      2  1924
126     23                             Haiti     0       0       1      1  1924
127     23                             Japan     0       0       1      1  1924
128     23                       New Zealand     0       0       1      1  1924
129     23                          Portugal     0       0       1      1  1924
130     23                           Romania     0       0       1      1  1924
131      1                     United States    22      18      16     56  1928
132      2                           Germany    10       7      14     31  1928
133      3                           Finland     8       8       9     25  1928
134      4                            Sweden     7       6      12     25  1928
135      5                             Italy     7       5       7     19  1928
136      6                       Switzerland     7       4       4     15  1928
137      7                            France     6      10       5     21  1928
138      8                       Netherlands     6       9       4     19  1928
139      9                           Hungary     4       5       0      9  1928
140     10                            Canada     4       4       7     15  1928
141     11                     Great Britain     3      10       7     20  1928
142     12                         Argentina     3       3       1      7  1928
143     13                           Denmark     3       1       2      6  1928
144     14                    Czechoslovakia     2       5       2      9  1928
145     15                             Japan     2       2       1      5  1928
146     16                           Estonia     2       1       2      5  1928
147     17                             Egypt     2       1       1      4  1928
148     18                           Austria     2       0       1      3  1928
149     19                         Australia     1       2       1      4  1928
150     19                            Norway     1       2       1      4  1928
151     21                            Poland     1       1       3      5  1928
152     21                        Yugoslavia     1       1       3      5  1928
153     23                      South Africa     1       0       2      3  1928
154     24                             India     1       0       0      1  1928
155     24                           Ireland     1       0       0      1  1928
156     24                       New Zealand     1       0       0      1  1928
157     24                             Spain     1       0       0      1  1928
158     24                           Uruguay     1       0       0      1  1928
159     29                           Belgium     0       1       2      3  1928
160     30                             Chile     0       1       0      1  1928
161     30                             Haiti     0       1       0      1  1928
162     32                       Philippines     0       0       1      1  1928
163     32                          Portugal     0       0       1      1  1928
164      1                    United States     44      36      30    110  1932
165      2                            Italy     12      12      12     36  1932
166      3                           France     11       5       4     20  1932
167      4                           Sweden     10       5       9     24  1932
168      5                            Japan      7       7       4     18  1932
169      6                          Hungary      6       5       5     16  1932
170      7                          Germany      5      12       7     24  1932
171      8                          Finland      5       8      12     25  1932
172      9                    Great Britain      5       7       5     17  1932
173     10                           Poland      3       2       4      9  1932
174     11                        Australia      3       1       1      5  1932
175     12                        Argentina      3       1       0      4  1932
176     13                           Canada      2       5       9     16  1932
177     14                      Netherlands      2       5       1      8  1932
178     15                     South Africa      2       0       3      5  1932
179     16                          Ireland      2       0       0      2  1932
180     17                   Czechoslovakia      1       3       2      6  1932
181     18                          Austria      1       1       3      5  1932
182     19                            India      1       0       0      1  1932
183     20                          Denmark      0       5       3      8  1932
184     21                           Mexico      0       2       0      2  1932
185     22                           Latvia      0       1       0      1  1932
186     22                      New Zealand      0       1       0      1  1932
187     22                      Switzerland      0       1       0      1  1932
188     25                      Philippines      0       0       3      3  1932
189     26                          Belgium      0       0       1      1  1932
190     26                            Spain      0       0       1      1  1932
191     26                          Uruguay      0       0       1      1  1932
192      1                           Germany    38      31      32    101  1936
193      2                     United States    24      21      12     57  1936
194      3                           Hungary    10       1       5     16  1936
195      4                             Italy     9      13       5     27  1936
196      5                           Finland     8       6       6     20  1936
197      6                            France     7       6       6     19  1936
198      7                            Sweden     6       5      10     21  1936
199      8                             Japan     6       4      10     20  1936
200      9                       Netherlands     6       4       7     17  1936
201     10                           Austria     5       7       5     17  1936
202     11                       Switzerland     4       9       5     18  1936
203     12                     Great Britain     4       7       3     14  1936
204     13                    Czechoslovakia     3       5       1      9  1936
205     14                         Argentina     2       2       3      7  1936
206     14                           Estonia     2       2       3      7  1936
207     16                             Egypt     2       1       2      5  1936
208     17                            Canada     1       3       5      9  1936
209     18                            Norway     1       3       2      6  1936
210     19                            Turkey     1       0       1      2  1936
211     20                             India     1       0       0      1  1936
212     20                       New Zealand     1       0       0      1  1936
213     22                            Poland     0       4       5      9  1936
214     23                           Denmark     0       2       3      5  1936
215     24                            Latvia     0       1       1      2  1936
216     25                           Romania     0       1       0      1  1936
217     25                      South Africa     0       1       0      1  1936
218     25                        Yugoslavia     0       1       0      1  1936
219     28                           Belgium     0       0       3      3  1936
220     28                            Mexico     0       0       3      3  1936
221     30                         Australia     0       0       1      1  1936
222     30                       Philippines     0       0       1      1  1936
223     30                          Portugal     0       0       1      1  1936
224      1                     United States    38      27      19     84  1948
225      2                            Sweden    16      11      17     44  1948
226      3                            France    10       6      13     29  1948
227      4                           Hungary    10       5      12     27  1948
228      5                             Italy     8      11       8     27  1948
229      6                           Finland     8       7       5     20  1948
230      7                            Turkey     6       4       2     12  1948
231      8                    Czechoslovakia     6       2       3     11  1948
232      9                       Switzerland     5      10       5     20  1948
233     10                           Denmark     5       7       8     20  1948
234     11                       Netherlands     5       2       9     16  1948
235     12                     Great Britain     3      14       6     23  1948
236     13                         Argentina     3       3       1      7  1948
237     14                         Australia     2       6       5     13  1948
238     15                           Belgium     2       2       3      7  1948
239     16                             Egypt     2       2       1      5  1948
240     17                            Mexico     2       1       2      5  1948
241     18                      South Africa     2       1       1      4  1948
242     19                            Norway     1       3       3      7  1948
243     20                           Jamaica     1       2       0      3  1948
244     21                           Austria     1       0       3      4  1948
245     22                             India     1       0       0      1  1948
246     22                              Peru     1       0       0      1  1948
247     24                        Yugoslavia     0       2       0      2  1948
248     25                            Canada     0       1       2      3  1948

In [16]:
#按列选择
print(df['NOC']) #实际上相当于一个serie

0              United States
1                     Greece
2                    Germany
3                     France
4              Great Britain
                ...
1430                   Qatar
1431    Refugee Olympic Team
1432               Singapore
1433                Slovakia
1434                  Zambia
Name: NOC, Length: 1435, dtype: object

In [17]:
print(df[['NOC', 'Rank']]) #实际相当于一个子dataframe

                       NOC  Rank
0            United States     1
1                   Greece     2
2                  Germany     3
3                   France     4
4            Great Britain     5
...                    ...   ...
1430                 Qatar    84
1431  Refugee Olympic Team    84
1432             Singapore    84
1433              Slovakia    84
1434                Zambia    84

[1435 rows x 2 columns]

In [18]:
#按行选择
print(df.loc[0])

Rank                  1
NOC       United States
Gold                 11
Silver                7
Bronze                2
Total                20
Year               1896
Name: 0, dtype: object

In [19]:
#按行选择，同时指定需要的列
print(df.loc[0,["NOC","Rank"]])

NOC     United States
Rank                1
Name: 0, dtype: object

In [20]:
#支持切片 起始：0 结束：11 步长：2
print(df.loc[0:11:2,["NOC","Rank"]])

              NOC  Rank
0   United States     1
2         Germany     3
4   Great Britain     5
6         Austria     7
8         Denmark     9
10     Mixed team    11

In [21]:
#支持切片 起始：0 结束：11 步长：2
print(df.iloc[0:11:2,0:3]) #注意是iloc

    Rank            NOC  Gold
0      1  United States    11
2      3        Germany     6
4      5  Great Britain     2
6      7        Austria     2
8      9        Denmark     1
10    11     Mixed team     1

In [22]:
#筛选
major_NOC = df[df['Rank'] <= 1]
print(major_NOC)

      Rank             NOC  Gold  Silver  Bronze  Total  Year
0        1   United States    11       7       2     20  1896
11       1          France    27      39      37    103  1900
32       1   United States    76      78      77    231  1904
45       1   Great Britain    56      51      39    146  1908
64       1   United States    26      19      19     64  1912
82       1   United States    41      27      27     95  1920
104      1   United States    45      27      27     99  1924
131      1   United States    22      18      16     56  1928
164      1  United States     44      36      30    110  1932
192      1         Germany    38      31      32    101  1936
224      1   United States    38      27      19     84  1948
261      1   United States    40      19      17     76  1952
304      1    Soviet Union    37      29      32     98  1956
342      1   Soviet Union     43      29      31    103  1960
386      1   United States    36      26      28     90  1964
427      1   United States    45      28      34    107  1968
471      1    Soviet Union    50      27      22     99  1972
519      1    Soviet Union    49      41      35    125  1976
560      1    Soviet Union    80      69      46    195  1980
596      1   United States    83      61      30    174  1984
643      1    Soviet Union    55      31      46    132  1988
695      1    Unified Team    45      38      29    112  1992
759      1   United States    44      32      25    101  1996
838      1   United States    37      24      32     93  2000
918      1   United States    36      39      26    101  2004
992      1           China    48      22      30    100  2008
1079     1   United States    48      26      30    104  2012
1165     1   United States    46      37      38    121  2016
1251     1   United States    39      41      33    113  2020
1344     1   United States    40      44      42    126  2024

In [23]:
#筛选
Selected_NOC = df[df['NOC'] == 'Soviet Union']
print(Selected_NOC)

     Rank           NOC  Gold  Silver  Bronze  Total  Year
262     2  Soviet Union    22      30      19     71  1952
304     1  Soviet Union    37      29      32     98  1956
387     2  Soviet Union    30      31      35     96  1964
428     2  Soviet Union    29      32      30     91  1968
471     1  Soviet Union    50      27      22     99  1972
519     1  Soviet Union    49      41      35    125  1976
560     1  Soviet Union    80      69      46    195  1980
643     1  Soviet Union    55      31      46    132  1988

In [24]:
#多条件筛选，运算符类似于C语言
Selected_NOC = df[(df['NOC'] == 'Soviet Union') & (df['Rank'] == 1)]
print(Selected_NOC)

     Rank           NOC  Gold  Silver  Bronze  Total  Year
304     1  Soviet Union    37      29      32     98  1956
471     1  Soviet Union    50      27      22     99  1972
519     1  Soviet Union    49      41      35    125  1976
560     1  Soviet Union    80      69      46    195  1980
643     1  Soviet Union    55      31      46    132  1988

Pandas 高频常用函数

    df.unique() → 查看某列的唯一值（去重）
    df.value_counts() → 统计某列值的出现次数（频次）
    df.astype() → 修改列的数据类型（如：df ["成绩"].astype (float)）
    df.drop_duplicates() → 删除重复行
    df.isnull() / df.notnull() → 判断缺失值
    df.replace(old, new) → 替换指定值（如：df.replace (88, 90)）
    df.apply(func) → 对列 / 行应用自定义函数（高阶用法）
    df.merge(df2) → 合并两个数据表（类似 SQL 的联表查询）
    df.concat([df1,df2]) → 拼接多个数据表
    df.query() → 用字符串写条件筛选（简洁，如：df.query ("成绩> 80")）

In [25]:
# print(df.mean()) #含有非数字列会报错
print(df.mean(numeric_only=True))

Rank        30.334495
Gold         4.048084
Silver       4.025784
Bronze       4.384669
Total       12.458537
Year      1981.828571
dtype: float64

In [26]:
# print(df.sum()) #含有非数字列会报错
print(df.sum(numeric_only=True))

Rank        43530
Gold         5809
Silver       5777
Bronze       6292
Total       17878
Year      2843924
dtype: int64

In [27]:
# print(df.min()) #含有非数字列会报错
print(df.min(numeric_only=True))

Rank         1
Gold         0
Silver       0
Bronze       0
Total        1
Year      1896
dtype: int64

In [28]:
# print(df.max()) #含有非数字列会报错
print(df.max(numeric_only=True))

Rank        86
Gold        83
Silver      78
Bronze      77
Total      231
Year      2024
dtype: int64

In [29]:
print(df.count()) #不会统计NAN

Rank      1435
NOC       1435
Gold      1435
Silver    1435
Bronze    1435
Total     1435
Year      1435
dtype: int64

In [30]:
print(df["Rank"].sum())

43530

In [31]:
groups = df.groupby('NOC')
print(groups)
for group in groups:
    print(group)

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x77f21331b050>
('Afghanistan',       Rank          NOC  Gold  Silver  Bronze  Total  Year
1073    82  Afghanistan     0       0       1      1  2008
1157    79  Afghanistan     0       0       1      1  2012)
('Albania',       Rank      NOC  Gold  Silver  Bronze  Total  Year
1423    80  Albania     0       0       2      2  2024)
('Algeria',       Rank      NOC  Gold  Silver  Bronze  Total  Year
637     42  Algeria     0       0       2      2  1984
728     34  Algeria     1       0       1      2  1992
792     34  Algeria     2       0       1      3  1996
879     42  Algeria     1       1       3      5  2000
1059    68  Algeria     0       1       1      2  2008
1128    50  Algeria     1       0       0      1  2012
1227    63  Algeria     0       2       0      2  2016
1382    39  Algeria     2       0       1      3  2024)
('Argentina',       Rank        NOC  Gold  Silver  Bronze  Total  Year
119     16  Argentina     1       3       2      6  1924
142     12  Argentina     3       3       1      7  1928
205     14  Argentina     2       2       3      7  1936
236     13  Argentina     3       3       1      7  1948
279     19  Argentina     1       2       2      5  1952
332     29  Argentina     0       1       1      2  1956
415     30  Argentina     0       1       0      1  1964
467     41  Argentina     0       0       2      2  1968
503     33  Argentina     0       1       0      1  1972
677     35  Argentina     0       1       1      2  1988
748     54  Argentina     0       0       1      1  1992
812     54  Argentina     0       2       1      3  1996
894     57  Argentina     0       2       2      4  2000
955     38  Argentina     2       0       4      6  2004
1026    35  Argentina     2       0       4      6  2008
1120    42  Argentina     1       1       2      4  2012
1190    26  Argentina     3       1       0      4  2016
1322    72  Argentina     0       1       2      3  2020
1395    52  Argentina     1       1       1      3  2024)
('Argentina\xa0',      Rank         NOC  Gold  Silver  Bronze  Total  Year
175    12  Argentina      3       1       0      4  1932
371    30  Argentina      0       1       1      2  1960)
('Armenia',       Rank      NOC  Gold  Silver  Bronze  Total  Year
803     45  Armenia     1       1       0      2  1996
908     71  Armenia     0       0       1      1  2000
1053    62  Armenia     0       1       4      5  2008
1143    65  Armenia     0       1       1      2  2012
1206    42  Armenia     1       3       0      4  2016
1319    69  Armenia     0       2       2      4  2020
1409    66  Armenia     0       3       1      4  2024)
('Australasia',     Rank          NOC  Gold  Silver  Bronze  Total  Year
55    11  Australasia     1       2       2      5  1908
75    12  Australasia     2       2       3      7  1912)
('Australia',       Rank        NOC  Gold  Silver  Bronze  Total  Year
7        8  Australia     2       0       0      2  1896
19       9  Australia     2       0       3      5  1900
43      12  Australia     0       3       1      4  1904
97      16  Australia     0       2       1      3  1920
114     11  Australia     3       1       2      6  1924
149     19  Australia     1       2       1      4  1928
221     30  Australia     0       0       1      1  1936
237     14  Australia     2       6       5     13  1948
269      9  Australia     6       2       3     11  1952
306      3  Australia    13       8      14     35  1956
393      8  Australia     6       2      10     18  1964
435      9  Australia     5       7       5     17  1968
476      6  Australia     8       7       2     17  1972
550     32  Australia     0       1       4      5  1976
574     15  Australia     2       2       5      9  1980
609     14  Australia     4       8      12     24  1984
657     15  Australia     3       6       5     14  1988
704     10  Australia     7       9      11     27  1992
765      7  Australia     9       9      23     41  1996
841      4  Australia    16      25      17     58  2000
921      4  Australia    17      16      17     50  2004
997      6  Australia    14      15      17     46  2008
1086     8  Australia     8      15      12     35  2012
1174    10  Australia     8      11      10     29  2016
1256     6  Australia    17       7      22     46  2020
1347     4  Australia    18      19      16     53  2024)
('Australia\xa0',      Rank         NOC  Gold  Silver  Bronze  Total  Year
174    11  Australia      3       1       1      5  1932
346     5  Australia      8       8       6     22  1960)
('Austria',       Rank      NOC  Gold  Silver  Bronze  Total  Year
6        7  Austria     2       1       2      5  1896
26      16  Austria     0       3       3      6  1900
39       8  Austria     1       1       1      3  1904
63      19  Austria     0       0       1      1  1908
80      17  Austria     0       2       2      4  1912
123     20  Austria     0       3       1      4  1924
148     18  Austria     2       0       1      3  1928
201     10  Austria     5       7       5     17  1936
244     21  Austria     1       0       3      4  1948
292     32  Austria     0       1       1      2  1952
337     34  Austria     0       0       2      2  1956
458     32  Austria     0       2       2      4  1968
501     31  Austria     0       1       2      3  1972
555     37  Austria     0       0       1      1  1976
580     21  Austria     1       2       1      4  1980
617     22  Austria     1       1       1      3  1984
671     29  Austria     1       0       0      1  1988
735     41  Austria     0       2       0      2  1992
815     57  Austria     0       1       2      3  1996
869     32  Austria     2       1       0      3  2000
944     27  Austria     2       4       1      7  2004
1055    64  Austria     0       1       2      3  2008
1242    78  Austria     0       0       1      1  2016
1303    53  Austria     1       1       5      7  2020
1379    36  Austria     2       0       3      5  2024)
('Austria\xa0',      Rank       NOC  Gold  Silver  Bronze  Total  Year
181    18  Austria      1       1       3      5  1932
359    18  Austria      1       1       0      2  1960)
('Azerbaijan',       Rank         NOC  Gold  Silver  Bronze  Total  Year
819     61  Azerbaijan     0       1       0      1  1996
871     34  Azerbaijan     2       0       1      3  2000
967     50  Azerbaijan     1       0       4      5  2004
1031    40  Azerbaijan     1       1       4      6  2008
1110    32  Azerbaijan     2       2       5      9  2012
1203    39  Azerbaijan     1       7      10     18  2016
1317    67  Azerbaijan     0       3       4      7  2020
1373    30  Azerbaijan     2       2       3      7  2024)
('Bahamas',       Rank      NOC  Gold  Silver  Bronze  Total  Year
338     35  Bahamas     0       0       1      1  1956
409     24  Bahamas     1       0       0      1  1964
749     54  Bahamas     0       0       1      1  1992
820     61  Bahamas     0       1       0      1  1996
872     34  Bahamas     2       0       1      3  2000
969     52  Bahamas     1       0       1      2  2004
1060    68  Bahamas     0       1       1      2  2008
1129    50  Bahamas     1       0       0      1  2012
1215    51  Bahamas     1       0       1      2  2016
1292    42  Bahamas     2       0       0      2  2020)
('Bahrain',       Rank      NOC  Gold  Silver  Bronze  Total  Year
1130    50  Bahrain     1       0       0      1  2012
1212    48  Bahrain     1       1       0      2  2016
1327    77  Bahrain     0       1       0      1  2020
1376    33  Bahrain     2       1       1      4  2024)
('Barbados',      Rank       NOC  Gold  Silver  Bronze  Total  Year
909    71  Barbados     0       0       1      1  2000)
('Belarus',       Rank      NOC  Gold  Silver  Bronze  Total  Year
795     37  Belarus     1       6       8     15  1996
860     23  Belarus     3       3      11     17  2000
943     26  Belarus     2       5       6     13  2004
1015    24  Belarus     3       4       7     14  2008
1106    28  Belarus     2       5       3     10  2012
1204    40  Belarus     1       4       4      9  2016
1295    45  Belarus     1       3       3      7  2020)
('Belgium',       Rank      NOC  Gold  Silver  Bronze  Total  Year
15       5  Belgium     6       7       4     17  1900
54      10  Belgium     1       5       2      8  1908
76      13  Belgium     2       1       3      6  1912
86       5  Belgium    14      11      11     36  1920
113     10  Belgium     3       7       3     13  1924
159     29  Belgium     0       1       2      3  1928
219     28  Belgium     0       0       3      3  1936
238     15  Belgium     2       2       3      7  1948
274     14  Belgium     2       2       0      4  1952
331     28  Belgium     0       2       0      2  1956
405     20  Belgium     2       0       1      3  1964
462     36  Belgium     0       1       1      2  1968
499     29  Belgium     0       2       0      2  1972
546     28  Belgium     0       3       3      6  1976
582     23  Belgium     1       0       0      1  1980
616     21  Belgium     1       1       2      4  1984
686     44  Belgium     0       0       2      2  1988
738     44  Belgium     0       1       2      3  1992
789     31  Belgium     2       2       2      6  1996
892     55  Belgium     0       2       3      5  2000
968     51  Belgium     1       0       2      3  2004
1028    37  Belgium     2       0       0      2  2008
1142    64  Belgium     0       1       2      3  2012
1199    35  Belgium     2       2       2      6  2016
1279    29  Belgium     3       1       3      7  2020
1368    25  Belgium     3       1       6     10  2024)
('Belgium\xa0',      Rank       NOC  Gold  Silver  Bronze  Total  Year
189    26  Belgium      0       0       1      1  1932
367    26  Belgium      0       2       2      4  1960)
('Bermuda',       Rank      NOC  Gold  Silver  Bronze  Total  Year
556     37  Bermuda     0       0       1      1  1976
1313    63  Bermuda     1       0       0      1  2020)
('Bohemia',     Rank      NOC  Gold  Silver  Bronze  Total  Year
30    20  Bohemia     0       1       1      2  1900
61    17  Bohemia     0       0       2      2  1908)
('Botswana',       Rank       NOC  Gold  Silver  Bronze  Total  Year
1148    70  Botswana     0       1       0      1  2012
1336    86  Botswana     0       0       1      1  2020
1398    55  Botswana     1       1       0      2  2024)
('Brazil',       Rank     NOC  Gold  Silver  Bronze  Total  Year
96      15  Brazil     1       1       1      3  1920
257     34  Brazil     0       0       1      1  1948
284     24  Brazil     1       0       2      3  1952
327     24  Brazil     1       0       0      1  1956
420     35  Brazil     0       0       1      1  1964
461     35  Brazil     0       1       2      3  1968
511     41  Brazil     0       0       2      2  1972
554     36  Brazil     0       0       2      2  1976
576     17  Brazil     2       0       2      4  1980
614     19  Brazil     1       5       2      8  1984
666     24  Brazil     1       2       3      6  1988
719     25  Brazil     2       1       0      3  1992
783     25  Brazil     3       3       9     15  1996
890     53  Brazil     0       6       6     12  2000
933     16  Brazil     5       2       3     10  2004
1014    23  Brazil     3       4      10     17  2008
1100    22  Brazil     3       5       9     17  2012
1177    13  Brazil     7       6       6     19  2016
1262    12  Brazil     7       6       8     21  2020
1363    20  Brazil     3       7      10     20  2024)
('Brazil\xa0',      Rank      NOC  Gold  Silver  Bronze  Total  Year
380    39  Brazil      0       0       2      2  1960)
('British West Indies\xa0',      Rank                   NOC  Gold  Silver  Bronze  Total  Year
381    39  British West Indies      0       0       2      2  1960)
('Bulgaria',       Rank       NOC  Gold  Silver  Bronze  Total  Year
300     40  Bulgaria     0       0       1      1  1952
322     19  Bulgaria     1       3       1      5  1956
396     11  Bulgaria     3       5       2     10  1964
444     18  Bulgaria     2       4       3      9  1968
479      9  Bulgaria     6      10       5     21  1972
525      7  Bulgaria     6       9       7     22  1976
562      3  Bulgaria     8      16      17     41  1980
649      7  Bulgaria    10      12      13     35  1988
712     18  Bulgaria     3       7       6     16  1992
780     22  Bulgaria     3       7       5     15  1996
853     16  Bulgaria     5       6       2     13  2000
950     33  Bulgaria     2       1       9     12  2004
1033    42  Bulgaria     1       1       3      5  2008
1138    60  Bulgaria     0       2       1      3  2012
1230    66  Bulgaria     0       1       2      3  2016
1280    30  Bulgaria     3       1       2      6  2020
1369    26  Bulgaria     3       1       3      7  2024)
('Bulgaria\xa0',      Rank        NOC  Gold  Silver  Bronze  Total  Year
356    15  Bulgaria      1       3       3      7  1960)
('Burkina Faso',       Rank           NOC  Gold  Silver  Bronze  Total  Year
1337    86  Burkina Faso     0       0       1      1  2020)
('Burundi',       Rank      NOC  Gold  Silver  Bronze  Total  Year
807     49  Burundi     1       0       0      1  1996
1233    69  Burundi     0       1       0      1  2016)
('Cabo Verde',       Rank         NOC  Gold  Silver  Bronze  Total  Year
1427    84  Cabo Verde     0       0       1      1  2024)
('Cameroon',       Rank       NOC  Gold  Silver  Bronze  Total  Year
465     39  Cameroon     0       1       0      1  1968
638     43  Cameroon     0       0       1      1  1984
887     50  Cameroon     1       0       0      1  2000
971     54  Cameroon     1       0       0      1  2004
1044    53  Cameroon     1       0       0      1  2008
1158    79  Cameroon     0       0       1      1  2012)
('Canada',       Rank     NOC  Gold  Silver  Bronze  Total  Year
23      13  Canada     1       0       1      2  1900
34       3  Canada     4       1       1      6  1904
51       7  Canada     3       3      10     16  1908
72       9  Canada     3       2       3      8  1912
93      12  Canada     3       3       3      9  1920
124     20  Canada     0       3       1      4  1924
140     10  Canada     4       4       7     15  1928
208     17  Canada     1       3       5      9  1936
248     25  Canada     0       1       2      3  1948
281     21  Canada     1       2       0      3  1952
318     15  Canada     2       1       3      6  1956
407     22  Canada     1       2       1      4  1964
449     23  Canada     1       3       1      5  1968
497     27  Canada     0       2       3      5  1972
545     27  Canada     0       5       6     11  1976
601      6  Canada    10      18      16     44  1984
661     19  Canada     3       2       5     10  1988
705     11  Canada     7       4       7     18  1992
779     21  Canada     3      11       8     22  1996
861     24  Canada     3       3       8     14  2000
938     21  Canada     3       6       3     12  2004
1011    20  Canada     3       9       8     20  2008
1105    27  Canada     2       6      10     18  2012
1184    20  Canada     4       3      15     22  2016
1261    11  Canada     7       7      10     24  2020
1355    12  Canada     9       7      11     27  2024)
('Canada\xa0',      Rank      NOC  Gold  Silver  Bronze  Total  Year
176    13  Canada      2       5       9     16  1932
373    32  Canada      0       1       0      1  1960)
('Ceylon',      Rank     NOC  Gold  Silver  Bronze  Total  Year
251    28  Ceylon     0       1       0      1  1948)
('Chile',       Rank    NOC  Gold  Silver  Bronze  Total  Year
160     30  Chile     0       1       0      1  1928
291     31  Chile     0       2       0      2  1952
330     27  Chile     0       2       2      4  1956
678     36  Chile     0       1       0      1  1988
910     71  Chile     0       0       1      1  2000
956     39  Chile     2       0       1      3  2004
1063    72  Chile     0       1       0      1  2008
1399    55  Chile     1       1       0      2  2024)
('China',       Rank    NOC  Gold  Silver  Bronze  Total  Year
599      4  China    15       8       9     32  1984
653     11  China     5      11      12     28  1988
698      4  China    16      22      16     54  1992
762      4  China    16      22      12     50  1996
840      3  China    28      16      14     58  2000
919      2  China    32      17      14     63  2004
992      1  China    48      22      30    100  2008
1080     2  China    39      31      22     92  2012
1167     3  China    26      18      26     70  2016
1252     2  China    38      32      19     89  2020
1345     2  China    40      27      24     91  2024)
('Chinese Taipei',       Rank             NOC  Gold  Silver  Bronze  Total  Year
639     43  Chinese Taipei     0       0       1      1  1984
743     49  Chinese Taipei     0       1       0      1  1992
821     61  Chinese Taipei     0       1       0      1  1996
895     58  Chinese Taipei     0       1       4      5  2000
948     31  Chinese Taipei     2       2       1      5  2004
1035    44  Chinese Taipei     1       1       2      4  2008
1126    48  Chinese Taipei     1       0       1      2  2012
1214    50  Chinese Taipei     1       0       2      3  2016
1284    34  Chinese Taipei     2       4       6     12  2020
1378    35  Chinese Taipei     2       0       5      7  2024)
('Colombia',       Rank       NOC  Gold  Silver  Bronze  Total  Year
502     31  Colombia     0       1       2      3  1972
628     33  Colombia     0       1       0      1  1984
688     46  Colombia     0       0       1      1  1988
750     54  Colombia     0       0       1      1  1992
888     50  Colombia     1       0       0      1  2000
985     68  Colombia     0       0       2      2  2004
1051    60  Colombia     0       2       1      3  2008
1116    38  Colombia     1       3       5      9  2012
1186    22  Colombia     3       2       3      8  2016
1316    66  Colombia     0       4       1      5  2020
1410    66  Colombia     0       3       1      4  2024)
('Costa Rica',      Rank         NOC  Gold  Silver  Bronze  Total  Year
679    36  Costa Rica     0       1       0      1  1988
808    49  Costa Rica     1       0       0      1  1996
906    69  Costa Rica     0       0       2      2  2000)
('Croatia',       Rank      NOC  Gold  Silver  Bronze  Total  Year
739     44  Croatia     0       1       2      3  1992
804     45  Croatia     1       1       0      2  1996
886     49  Croatia     1       0       1      2  2000
961     44  Croatia     1       2       2      5  2004
1050    59  Croatia     0       2       3      5  2008
1104    26  Croatia     3       1       2      6  2012
1181    17  Croatia     5       3       2     10  2016
1276    26  Croatia     3       3       2      8  2020
1374    30  Croatia     2       2       3      7  2024)
('Cuba',       Rank   NOC  Gold  Silver  Bronze  Total  Year
22      12  Cuba     1       1       0      2  1900
35       4  Cuba     3       0       0      3  1904
252     28  Cuba     0       1       0      1  1948
416     30  Cuba     0       1       0      1  1964
457     31  Cuba     0       4       0      4  1968
484     14  Cuba     3       1       4      8  1972
526      8  Cuba     6       4       3     13  1976
563      4  Cuba     8       7       5     20  1980
699      5  Cuba    14       6      11     31  1992
766      8  Cuba     9       8       8     25  1996
846      9  Cuba    11      11       7     29  2000
928     11  Cuba     9       7      11     27  2004
1010    19  Cuba     3      10      17     30  2008
1094    16  Cuba     5       3       7     15  2012
1182    18  Cuba     5       2       4     11  2016
1264    14  Cuba     7       3       5     15  2020

In [32]:
groups = df.groupby('NOC')
print(groups["Rank"].mean())

NOC
Afghanistan     80.500000
Albania         80.000000
Algeria         46.500000
Argentina       35.368421
Argentina       21.000000
                  ...
West Germany     4.800000
Yugoslavia      18.538462
Yugoslavia      18.000000
Zambia          62.666667
Zimbabwe        36.666667
Name: Rank, Length: 210, dtype: float64

In [37]:
print(df)
df_1 = df.drop(columns=["Total"])
print(df_1)

      Rank                   NOC  Gold  Silver  Bronze  Total  Year
0        1         United States    11       7       2     20  1896
1        2                Greece    10      18      19     47  1896
2        3               Germany     6       5       2     13  1896
3        4                France     5       4       2     11  1896
4        5         Great Britain     2       3       2      7  1896
...    ...                   ...   ...     ...     ...    ...   ...
1430    84                 Qatar     0       0       1      1  2024
1431    84  Refugee Olympic Team     0       0       1      1  2024
1432    84             Singapore     0       0       1      1  2024
1433    84              Slovakia     0       0       1      1  2024
1434    84                Zambia     0       0       1      1  2024

[1435 rows x 7 columns]
      Rank                   NOC  Gold  Silver  Bronze  Year
0        1         United States    11       7       2  1896
1        2                Greece    10      18      19  1896
2        3               Germany     6       5       2  1896
3        4                France     5       4       2  1896
4        5         Great Britain     2       3       2  1896
...    ...                   ...   ...     ...     ...   ...
1430    84                 Qatar     0       0       1  2024
1431    84  Refugee Olympic Team     0       0       1  2024
1432    84             Singapore     0       0       1  2024
1433    84              Slovakia     0       0       1  2024
1434    84                Zambia     0       0       1  2024

[1435 rows x 6 columns]

In [40]:
df_2 = df.dropna(subset=['Bronze']) #如果某一行中有空值，则删除该行
df_3 = df.fillna({'Bronze':0}) #将某列的空值用0填充
df["NOC"] = df["NOC"].replace({"United States":"USA"})
print(df)

      Rank                   NOC  Gold  Silver  Bronze  Total  Year
0        1                   USA    11       7       2     20  1896
1        2                Greece    10      18      19     47  1896
2        3               Germany     6       5       2     13  1896
3        4                France     5       4       2     11  1896
4        5         Great Britain     2       3       2      7  1896
...    ...                   ...   ...     ...     ...    ...   ...
1430    84                 Qatar     0       0       1      1  2024
1431    84  Refugee Olympic Team     0       0       1      1  2024
1432    84             Singapore     0       0       1      1  2024
1433    84              Slovakia     0       0       1      1  2024
1434    84                Zambia     0       0       1      1  2024

[1435 rows x 7 columns]